/* ==========================================================================
   UTILITY CLASSES
   ========================================================================== */

/*
   Images
   ========================================================================== */

/* image align left */

.align-left {
  display: block;
  margin: 0 0.5em 0.5em 0;
  float: left;
}

/* image align right */

.align-right {
  display: block;
  margin: 0 0 0.5em 0.5em;
  float: right;
}

/* image align center */

.align-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
